@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@theme {
    --font-sans: "Poppins", sans-serif;
    --aspect-cinema: 21/9;
}

.mask-radial-gradient {
    -webkit-mask-image: radial-gradient(100% 100% at 100% 0,#fff,#0000);
    mask-image: radial-gradient(100% 100% at 100% 0,#fff,#0000);
}